body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.login-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h2 {
  font-weight: bold;
}

label {
  font-weight: normal;
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
}

button {
  background-color: #458FF6;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button:hover {
  background-color: #2962FF;
}

.footer {
  background-color: #294486;
  color: #ffffff;
  padding: 10px 0;
  position: bottom;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

a {
  color: #458FF6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.back-button {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.back-button:hover {
  background-color: #eee;
}

.login-box {
  margin-top: 80px;
  margin-bottom: 100px;
}